

.formPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.inicioButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.inicioButton:hover {
    background-color: var(--color-background-alt);
}

.titulo {
    text-align: center;
    margin-top: 40px;
    font-size: 3rem;
    color: var(--color-primary);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 40px ;
    border-radius: 8px;
    background-color: #f9f9f9;
}   

.input {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

.inputDescription{
    min-width: 100%;
    resize: none;
    height: 5rem;
}

.input_img {
    width: 100%;
    padding: 3px;
    margin: 4px 0;
    box-sizing: border-box;
}

.input_imgAlt {
    width: 100%;
    padding: 3px;
    margin: 4px 0;
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 16px;
}

.inputButton {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.inputButton:nth-child(2) {
    background-color: #6688ff;
}

.inputButton:hover {
    background-color: #45a049;
}

.inputButton:hover:nth-child(2) {
    background-color: #3366ff;
}
