:root {
    --color-primary: #15193c;
    --color-secondary: #f69335;
    --color-secondary-dark: #c77731;
    --color-green: #28a745;
    --color-green-dark: #218838;
    --color-background: #EBEBEB;
    --color-background-alt: #111111;
    --color-text: #000000;
    --color-text-alt: #ebebeb;
    font-family: roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
}