:root {
  --color-primary: #1a237e;
  --color-secondary: #f69335;
  --color-background: #0a0a10;
  --color-background-alt: #111;
  --color-text: #ffffff;
  font-family: roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
