.card {
    background-color: var(--color-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 350px;
    margin-bottom: 50px;
}

.card title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0 10px 0;
    color: var(--color-primary);
    text-align: center;
}

.card p {
    font-size: 1.3rem;
    color: var(--color-text);
    text-align: center;
    margin: 0 20px 0 20px;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 20px;
}


.image_content {
    width: auto;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image_content .boton {
    align-self: center;
}

.image_content h3 {
    margin: 10px;
    font-size: 1.2rem;
    color: var(--color-primary);
}

.boton {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 3px -3px gray;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
}
.boton:hover {
    background-color: var(--color-secondary-dark);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
    
}

@media (max-width: 768px) {
    .card {
        min-width: 250px;
    }

    .image {
        width: 200px;
        height: 200px;
        margin-right: 0;
    }

    .boton {
        text-align: center;
        width: 80%;
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}